<header class="bg-white shadow-sm">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-blue-600 transition-all duration-150 hover:scale-110">ValandTickets</a>
    <div class="flex items-center gap-4">
      <a [routerLink]="['/events']" routerLinkActive="router-link-active" class="cursor-pointer font-medium text-gray-500 transition-all duration-150 hover:scale-110 hover:text-blue-800">Eventos</a>
      <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="font-medium text-gray-500 transition-all duration-150 hover:scale-110 hover:text-blue-800">Categorías</a>
    </div>
  </div>
</header>
